i.emoticon {
	background: url(sprites.png) no-repeat;
	width: 100px;
	height: 100px;
	display: inline-block;
}

i.emoticon.emoticon-md {
	zoom: 0.5;
	-moz-transform: scale(0.5);
}

i.emoticon.emoticon-sm {
	zoom: 0.25;
	-moz-transform: scale(0.25);
}

i.emoticon.alph {
	background-position: -1852px -1017px;
	width: 95px;
	height: 100px;
}

i.emoticon.angel {
	background-position: -927px -107px;
	width: 94px;
	height: 100px;
}

i.emoticon.angry {
	background-position: -1034px -112px;
	width: 100px;
	height: 100px;
}

i.emoticon.apple {
	background-position: -129px -882px;
	width: 100px;
	height: 68px;
}

i.emoticon.awesome_stew {
	background-position: -561px -1086px;
	width: 88px;
	height: 100px;
}

i.emoticon.bacon {
	background-position: -430px -900px;
	width: 100px;
	height: 45px;
}

i.emoticon.bag_monochrome {
	background-position: -240px -542px;
	width: 73px;
	height: 100px;
}

i.emoticon.banana {
	background-position: -116px -337px;
	width: 100px;
	height: 52px;
}

i.emoticon.batterfly {
	background-position: 0 -1198px;
	width: 100px;
	height: 87px;
}

i.emoticon.bean {
	background-position: -1108px -1229px;
	width: 100px;
	height: 59px;
}

i.emoticon.beer {
	background-position: 0 -753px;
	width: 52px;
	height: 100px;
}

i.emoticon.beryl {
	background-position: -685px -807px;
	width: 91px;
	height: 100px;
}

i.emoticon.birch_candy {
	background-position: -333px -572px;
	width: 100px;
	height: 59px;
}

i.emoticon.blue_bubble {
	background-position: -114px -532px;
	width: 100px;
	height: 100px;
}

i.emoticon.broccoli {
	background-position: -117px -650px;
	width: 94px;
	height: 100px;
}

i.emoticon.bubble_tea {
	background-position: -235px -655px;
	width: 39px;
	height: 100px;
}

i.emoticon.bureaucrat {
	background-position: -193px -776px;
	width: 100px;
	height: 91px;
}

i.emoticon.butterfly_butter {
	background-position: -427px -1118px;
	width: 100px;
	height: 46px;
}

i.emoticon.cactus {
	background-position: -860px -1204px;
	width: 100px;
	height: 86px;
}

i.emoticon.cap {
	background-position: -1147px -111px;
	width: 100px;
	height: 100px;
}

i.emoticon.carrot {
	background-position: -672px -348px;
	width: 100px;
	height: 85px;
}

i.emoticon.caterpillar {
	background-position: -577px -401px;
	width: 79px;
	height: 100px;
}

i.emoticon.cat_happy {
	background-position: -1082px -796px;
	width: 100px;
	height: 85px;
}

i.emoticon.cat_plotting {
	background-position: -1203px -784px;
	width: 100px;
	height: 84px;
}

i.emoticon.cat_tongue {
	background-position: -1325px -784px;
	width: 100px;
	height: 85px;
}

i.emoticon.cheese {
	background-position: -453px -808px;
	width: 100px;
	height: 56px;
}

i.emoticon.cheese_stinky {
	background-position: -308px -664px;
	width: 100px;
	height: 84px;
}

i.emoticon.cheese_very_stinky {
	background-position: -743px -1204px;
	width: 100px;
	height: 81px;
}

i.emoticon.cheese_very_very_stinky {
	background-position: -622px -1209px;
	width: 100px;
	height: 82px;
}

i.emoticon.cherry {
	background-position: -516px -1204px;
	width: 78px;
	height: 100px;
}

i.emoticon.chick {
	background-position: -1942px -1134px;
	width: 92px;
	height: 100px;
}

i.emoticon.chicken {
	background-position: -553px -674px;
	width: 86px;
	height: 100px;
}

i.emoticon.clown {
	background-position: -812px -110px;
	width: 100px;
	height: 100px;
}

i.emoticon.coffee {
	background-position: -565px -994px;
	width: 100px;
	height: 70px;
}

i.emoticon.confused {
	background-position: -1252px -115px;
	width: 100px;
	height: 100px;
}

i.emoticon.cooking_vendor {
	background-position: -1454px -899px;
	width: 85px;
	height: 100px;
}

i.emoticon.cool {
	background-position: -1829px -114px;
	width: 100px;
	height: 100px;
}

i.emoticon.corn {
	background-position: -241px -345px;
	width: 100px;
	height: 45px;
}

i.emoticon.cosma {
	background-position: -1213px -909px;
	width: 100px;
	height: 79px;
}

i.emoticon.cosmapolitan {
	background-position: -308px -1070px;
	width: 86px;
	height: 100px;
}

i.emoticon.cou {
	background-position: -325px -113px;
	width: 100px;
	height: 95px;
}

i.emoticon.crab {
	background-position: -188px -108px;
	width: 100px;
	height: 98px;
}

i.emoticon.crying {
	background-position: -1423px -3px;
	width: 100px;
	height: 100px;
}

i.emoticon.cubi_batterfly {
	background-position: -1965px -778px;
	width: 83px;
	height: 100px;
}

i.emoticon.cubi_bureaucrat {
	background-position: -1823px -785px;
	width: 100px;
	height: 83px;
}

i.emoticon.cubi_butler {
	background-position: -1694px -782px;
	width: 100px;
	height: 79px;
}

i.emoticon.cubi_butterfly {
	background-position: -1576px -772px;
	width: 99px;
	height: 100px;
}

i.emoticon.cubi_cactus {
	background-position: -1432px -463px;
	width: 100px;
	height: 81px;
}

i.emoticon.cubi_chick {
	background-position: -1450px -783px;
	width: 100px;
	height: 96px;
}

i.emoticon.cubi_crab {
	background-position: -1190px -668px;
	width: 100px;
	height: 88px;
}

i.emoticon.cubi_craftybot {
	background-position: -1314px -669px;
	width: 100px;
	height: 77px;
}

i.emoticon.cubi_deimaginator {
	background-position: -1445px -669px;
	width: 100px;
	height: 89px;
}

i.emoticon.cubi_dustbunny {
	background-position: -1572px -684px;
	width: 100px;
	height: 71px;
}

i.emoticon.cubi_emobear {
	background-position: -1816px -678px;
	width: 100px;
	height: 75px;
}

i.emoticon.cubi_firebogstreetspirit {
	background-position: -1696px -672px;
	width: 100px;
	height: 86px;
}

i.emoticon.cubi_firefly {
	background-position: -1066px -676px;
	width: 94px;
	height: 100px;
}

i.emoticon.cubi_fox {
	background-position: -1437px -348px;
	width: 100px;
	height: 82px;
}

i.emoticon.cubi_foxranger {
	background-position: -1565px -583px;
	width: 100px;
	height: 80px;
}

i.emoticon.cubi_frog {
	background-position: -1565px -348px;
	width: 100px;
	height: 87px;
}

i.emoticon.cubi_gardeningtoolsvendor {
	background-position: -1560px -461px;
	width: 100px;
	height: 90px;
}

i.emoticon.cubi_gnome {
	background-position: -1055px -573px;
	width: 100px;
	height: 89px;
}

i.emoticon.cubi_greeterbot {
	background-position: -1683px -457px;
	width: 100px;
	height: 84px;
}

i.emoticon.cubi_groddlestreetspirit {
	background-position: -1180px -566px;
	width: 100px;
	height: 94px;
}

i.emoticon.cubi_gwendolyn {
	background-position: -1309px -567px;
	width: 100px;
	height: 78px;
}

i.emoticon.cubi_helga {
	background-position: -1048px -463px;
	width: 100px;
	height: 90px;
}

i.emoticon.cubi_hellbartender {
	background-position: -1050px -364px;
	width: 100px;
	height: 75px;
}

i.emoticon.cubi_ilmenskiejones {
	background-position: -1172px -464px;
	width: 100px;
	height: 88px;
}

i.emoticon.cubi_juju {
	background-position: -1303px -457px;
	width: 100px;
	height: 82px;
}

i.emoticon.cubi_magicrock {
	background-position: -1816px -462px;
	width: 100px;
	height: 72px;
}

i.emoticon.cubi_maintenancebot {
	background-position: -1440px -569px;
	width: 100px;
	height: 84px;
}

i.emoticon.cubimal_package {
	background-position: -1811px -571px;
	width: 100px;
	height: 86px;
}

i.emoticon.cubimal_package_2 {
	background-position: -1948px -573px;
	width: 100px;
	height: 85px;
}

i.emoticon.cubi_mealvendor {
	background-position: -1948px -450px;
	width: 100px;
	height: 85px;
}

i.emoticon.cubi_phantom {
	background-position: -1177px -348px;
	width: 100px;
	height: 100px;
}

i.emoticon.cubi_piggy {
	background-position: -1309px -354px;
	width: 100px;
	height: 82px;
}

i.emoticon.cubi_rook {
	background-position: -1822px -353px;
	width: 100px;
	height: 80px;
}

i.emoticon.cubi_rube {
	background-position: -1686px -580px;
	width: 100px;
	height: 75px;
}

i.emoticon.cubi_scionofpurple {
	background-position: -1182px -235px;
	width: 100px;
	height: 94px;
}

i.emoticon.cubi_senorfunpickle {
	background-position: -1948px -344px;
	width: 100px;
	height: 80px;
}

i.emoticon.cubi_sloth {
	background-position: -1050px -243px;
	width: 100px;
	height: 88px;
}

i.emoticon.cubi_smuggler {
	background-position: -1450px -247px;
	width: 100px;
	height: 78px;
}

i.emoticon.cubi_snoconevendor {
	background-position: -1695px -351px;
	width: 100px;
	height: 85px;
}

i.emoticon.cubi_squid {
	background-position: -1948px -685px;
	width: 100px;
	height: 79px;
}

i.emoticon.cubi_toolvendor {
	background-position: -1311px -239px;
	width: 100px;
	height: 85px;
}

i.emoticon.cubi_trisor {
	background-position: -1582px -254px;
	width: 100px;
	height: 72px;
}

i.emoticon.cubi_unclefriendly {
	background-position: -1828px -235px;
	width: 100px;
	height: 88px;
}

i.emoticon.cubi_uraliastreetspirit {
	background-position: -1948px -234px;
	width: 100px;
	height: 87px;
}

i.emoticon.cubi_yeti {
	background-position: -1708px -239px;
	width: 100px;
	height: 86px;
}

i.emoticon.cucumber {
	background-position: -336px -482px;
	width: 100px;
	height: 33px;
}

i.emoticon.currant {
	background-position: 0 -643px;
	width: 100px;
	height: 100px;
}

i.emoticon.cyber {
	background-position: -1474px -113px;
	width: 100px;
	height: 100px;
}

i.emoticon.deimaginator {
	background-position: -93px -768px;
	width: 90px;
	height: 100px;
}

i.emoticon.depression {
	background-position: -1594px -116px;
	width: 100px;
	height: 100px;
}

i.emoticon.dislike {
	background-position: -303px -954px;
	width: 100px;
	height: 100px;
}

i.emoticon.dustbunny {
	background-position: -434px -692px;
	width: 100px;
	height: 73px;
}

i.emoticon.egg {
	background-position: -983px -1228px;
	width: 100px;
	height: 57px;
}

i.emoticon.emobear {
	background-position: -438px -985px;
	width: 83px;
	height: 100px;
}

i.emoticon.energy_negative {
	background-position: -677px -721px;
	width: 100px;
	height: 68px;
}

i.emoticon.envelope {
	background-position: -343px -416px;
	width: 100px;
	height: 39px;
}

i.emoticon.exotic_juice {
	background-position: -269px -226px;
	width: 72px;
	height: 100px;
}

i.emoticon.eyeglass {
	background-position: -1653px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.flamingo {
	background-position: -370px -218px;
	width: 100px;
	height: 100px;
}

i.emoticon.flummery {
	background-position: -451px -127px;
	width: 100px;
	height: 70px;
}

i.emoticon.forehorseman {
	background-position: -1098px -1110px;
	width: 87px;
	height: 100px;
}

i.emoticon.fox {
	background-position: -370px -348px;
	width: 100px;
	height: 37px;
}

i.emoticon.fox_ranger {
	background-position: -744px -1093px;
	width: 58px;
	height: 100px;
}

i.emoticon.friendly {
	background-position: -1086px -903px;
	width: 100px;
	height: 85px;
}

i.emoticon.fruity_juice {
	background-position: -127px -220px;
	width: 100px;
	height: 94px;
}

i.emoticon.gardening_vendor {
	background-position: -1352px -903px;
	width: 82px;
	height: 100px;
}

i.emoticon.geek {
	background-position: -1541px 0;
	width: 97px;
	height: 100px;
}

i.emoticon.grain {
	background-position: -260px -1198px;
	width: 100px;
	height: 97px;
}

i.emoticon.grendaline {
	background-position: -1715px -1017px;
	width: 100px;
	height: 92px;
}

i.emoticon.grilled_cheese {
	background-position: 0 -566px;
	width: 100px;
	height: 70px;
}

i.emoticon.guano {
	background-position: -702px -925px;
	width: 100px;
	height: 62px;
}

i.emoticon.gwendolyn {
	background-position: -1561px -894px;
	width: 61px;
	height: 100px;
}

i.emoticon.happy {
	background-position: -1365px -115px;
	width: 100px;
	height: 100px;
}

i.emoticon.hard_bubble {
	background-position: -1581px -1111px;
	width: 100px;
	height: 100px;
}

i.emoticon.heart {
	background-position: -577px -114px;
	width: 100px;
	height: 96px;
}

i.emoticon.hell_bartender {
	background-position: -1215px -1120px;
	width: 100px;
	height: 81px;
}

i.emoticon.hogtied_piggy_explorer {
	background-position: -1346px -1220px;
	width: 100px;
	height: 86px;
}

i.emoticon.hooch {
	background-position: 0 -1081px;
	width: 58px;
	height: 100px;
}

i.emoticon.humbaba {
	background-position: -958px -1017px;
	width: 100px;
	height: 80px;
}

i.emoticon.humor {
	background-position: -1948px -117px;
	width: 100px;
	height: 100px;
}

i.emoticon.ice {
	background-position: 0 -975px;
	width: 100px;
	height: 96px;
}

i.emoticon.img {
	background-position: -821px -828px;
	width: 100px;
	height: 89px;
}

i.emoticon.imgbutton {
	background-position: -952px -833px;
	width: 100px;
	height: 53px;
}

i.emoticon.juju_bandit {
	background-position: -1632px -915px;
	width: 100px;
	height: 76px;
}

i.emoticon.juju_grandma {
	background-position: -1743px -903px;
	width: 76px;
	height: 100px;
}

i.emoticon.kiss {
	background-position: -1709px -111px;
	width: 100px;
	height: 100px;
}

i.emoticon.kitty {
	background-position: -457px -571px;
	width: 100px;
	height: 99px;
}

i.emoticon.laughing {
	background-position: -1875px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.lem {
	background-position: -1215px -1010px;
	width: 100px;
	height: 90px;
}

i.emoticon.lemon {
	background-position: -458px -479px;
	width: 100px;
	height: 77px;
}

i.emoticon.lemon_juice {
	background-position: 0 -335px;
	width: 59px;
	height: 100px;
}

i.emoticon.like {
	background-position: -1762px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.love {
	background-position: -1313px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.mab {
	background-position: -1338px -1018px;
	width: 100px;
	height: 87px;
}

i.emoticon.maintenance_bot {
	background-position: -1963px -901px;
	width: 85px;
	height: 100px;
}

i.emoticon.meat {
	background-position: -844px -1113px;
	width: 100px;
	height: 60px;
}

i.emoticon.milk {
	background-position: -1974px -1018px;
	width: 74px;
	height: 100px;
}

i.emoticon.money {
	background-position: -1202px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.mood {
	background-position: -187px -1068px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_b_brown_01 {
	background-position: -923px -476px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_d_blue_02 {
	background-position: -790px -239px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_d_green_03 {
	background-position: -927px -603px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_d_red_04 {
	background-position: -789px -481px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_gng {
	background-position: -915px -241px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_stoot {
	background-position: -916px -360px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_trumpets {
	background-position: -928px -721px;
	width: 100px;
	height: 100px;
}

i.emoticon.musicblock_x_shiny_05 {
	background-position: -796px -359px;
	width: 100px;
	height: 100px;
}

i.emoticon.mustache {
	background-position: -1092px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.myopic_frog {
	background-position: -324px -786px;
	width: 82px;
	height: 100px;
}

i.emoticon.pickle {
	background-position: -131px -1200px;
	width: 100px;
	height: 97px;
}

i.emoticon.piggy {
	background-position: -708px -1008px;
	width: 100px;
	height: 65px;
}

i.emoticon.piggy_explorer {
	background-position: 0 -877px;
	width: 100px;
	height: 72px;
}

i.emoticon.piglet {
	background-position: -575px -552px;
	width: 88px;
	height: 100px;
}

i.emoticon.plain_bubble {
	background-position: -1697px -1113px;
	width: 100px;
	height: 100px;
}

i.emoticon.plank {
	background-position: -567px -871px;
	width: 100px;
	height: 90px;
}

i.emoticon.pot {
	background-position: -1089px -1002px;
	width: 98px;
	height: 100px;
}

i.emoticon.potato {
	background-position: -1454px -1130px;
	width: 100px;
	height: 64px;
}

i.emoticon.pumpkin {
	background-position: -1333px -1115px;
	width: 100px;
	height: 93px;
}

i.emoticon.pumpkin_pie {
	background-position: -467px -409px;
	width: 100px;
	height: 48px;
}

i.emoticon.purple_flower {
	background-position: -670px -604px;
	width: 100px;
	height: 99px;
}

i.emoticon.rainbow {
	background-position: -669px -454px;
	width: 100px;
	height: 78px;
}

i.emoticon.randomkindness {
	background-position: -838px -1019px;
	width: 100px;
	height: 72px;
}

i.emoticon.rare_item_vendor {
	background-position: -92px -1086px;
	width: 69px;
	height: 100px;
}

i.emoticon.rice {
	background-position: -829px -937px;
	width: 100px;
	height: 64px;
}

i.emoticon.robot {
	background-position: -700px -105px;
	width: 94px;
	height: 100px;
}

i.emoticon.rookswort {
	background-position: -675px -549px;
	width: 100px;
	height: 43px;
}

i.emoticon.salmon {
	background-position: -493px -353px;
	width: 100px;
	height: 33px;
}

i.emoticon.shrine_monochrome {
	background-position: -389px -1201px;
	width: 85px;
	height: 100px;
}

i.emoticon.signpost {
	background-position: 0 -452px;
	width: 82px;
	height: 100px;
}

i.emoticon.sleeping {
	background-position: -761px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.smart {
	background-position: -544px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.smile {
	background-position: -874px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.smuggler {
	background-position: -100px -113px;
	width: 75px;
	height: 100px;
}

i.emoticon.sno_cone_rainbow {
	background-position: 0 -218px;
	width: 86px;
	height: 100px;
}

i.emoticon.spinach {
	background-position: -975px -1107px;
	width: 100px;
	height: 99px;
}

i.emoticon.spriggan {
	background-position: -962px -901px;
	width: 94px;
	height: 100px;
}

i.emoticon.squid {
	background-position: -495px -228px;
	width: 84px;
	height: 100px;
}

i.emoticon.star {
	background-position: -324px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.street_spirit {
	background-position: -667px -1092px;
	width: 48px;
	height: 100px;
}

i.emoticon.street_spirit_firebog {
	background-position: -604px -234px;
	width: 43px;
	height: 100px;
}

i.emoticon.street_spirit_ix {
	background-position: 0 -108px;
	width: 87px;
	height: 100px;
}

i.emoticon.sunglass {
	background-position: -216px 0;
	width: 100px;
	height: 97px;
}

i.emoticon.sunglass_2 {
	background-position: -106px 0;
	width: 100px;
	height: 97px;
}

i.emoticon.sunglass_3 {
	background-position: 0 0;
	width: 100px;
	height: 97px;
}

i.emoticon.surprise {
	background-position: -652px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.thumbsdown {
	background-position: -216px -426px;
	width: 97px;
	height: 100px;
}

i.emoticon.thumbsup {
	background-position: -105px -413px;
	width: 97px;
	height: 100px;
}

i.emoticon.tii {
	background-position: -1464px -1031px;
	width: 100px;
	height: 68px;
}

i.emoticon.tiny_bubble {
	background-position: -1231px -1206px;
	width: 100px;
	height: 100px;
}

i.emoticon.tomato {
	background-position: -125px -960px;
	width: 100px;
	height: 95px;
}

i.emoticon.tongue {
	background-position: -983px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.tool_vendor {
	background-position: -1992px 0;
	width: 56px;
	height: 100px;
}

i.emoticon.waffles {
	background-position: -1812px -1138px;
	width: 100px;
	height: 69px;
}

i.emoticon.widget {
	background-position: -1856px -897px;
	width: 86px;
	height: 100px;
}

i.emoticon.wink {
	background-position: -433px 0;
	width: 100px;
	height: 100px;
}

i.emoticon.yoga_frog {
	background-position: -671px -227px;
	width: 95px;
	height: 100px;
}

i.emoticon.zille {
	background-position: -1590px -1016px;
	width: 100px;
	height: 82px;
}

i.emoticon.zoom_in {
	background-position: -792px -604px;
	width: 98px;
	height: 100px;
}

i.emoticon.zoom_out {
	background-position: -802px -716px;
	width: 98px;
	height: 100px;
}

